name: ci

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".nvmrc"

      - name: Cache node modules
        id: cache-node-modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: node_modules
          key: npm-${{ hashFiles('package-lock.json') }}

      - name: NPM Install
        if: steps.cache-node-modules.outputs.cache-hit != 'true'
        run: npm install

      - name: NPM Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}


      - name: Tar files
        run: tar -cf dist.tar ./

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dist.tar
          path: dist.tar

      - name: Package
        run: ./node_modules/.bin/serverless package
        env:
          GITHUB_WEBHOOK_SECRET: foobar
          APP_ID: foo
          CERT: blah

  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    needs:
      - build
    if: ${{ github.ref == 'refs/heads/master' }}

    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist.tar
      - run: tar -xf dist.tar

      - name: Package
        run: ./node_modules/.bin/serverless package
        env:
          GITHUB_WEBHOOK_SECRET: ${{ secrets.WEBHOOK_SECRET }}
          APP_ID: ${{ secrets.APP_ID }}
          CERT: ${{ secrets.CERT }}

      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: arn:aws:iam::557195821817:role/repomanager-update
          role-session-name: repomanagerupdate
          aws-region: eu-west-2

      - name: Deploy
        run: ./node_modules/.bin/serverless deploy
        env:
          GITHUB_WEBHOOK_SECRET: ${{ secrets.WEBHOOK_SECRET }}
          APP_ID: ${{ secrets.APP_ID }}
          CERT: ${{ secrets.CERT }}
